{% extends 'isps/base.html' %}
{% load static %}

{% block content %}

    <!--Jumbotron video section STARTS-->
    <video autoplay muted loop id="myHomeVideo" style="width: 1277px;">
      <source src="{% static 'videos/Untitled.mp4' %}" type="video/mp4">
    </video>
    <!--Jumbotron video section STARTS-->


    <!--Header text section STARTS-->
    <div class="container" id="jumbotron">
        <div class="row hero-1">
          <div class="col-lg-5 col-12" id="header-text">
            <div class="hero-info">
              <h1>WELCOME TO THE PORT OF ROTTERDAM</h1>
            </div> 
          </div>

          <div class="col-lg-6 col-12">
            <div class="search-container">
              <div class="search-title">
                <p>How can we help you?</p>
              </div>
              <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Type your search term">
                <button class="btn btn-warning">Search <i class="fa-solid fa-arrow-right"></i></button>
              </div>
            </div>
          </div>
  
          <!--Header Tape section STARTS-->
           <div class="row pb-3" id="header-tape">
              <div class="col-lg-12">
                <p>Most Visited</p>
              </div>
              <div class="col-lg-4 col-12 pt-3">
                <div class="bl"></div>
                <div class="tape">
                  <ul>
                    <li><i class="fas fa-arrow-right"></i><a href="#">   Arrivals and departures</a></li>
                    <li><i class="fas fa-arrow-right"></i><a href="#">   Logistics</a></li>
                    <li><i class="fas fa-arrow-right"></i><a href="#">   Containers</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-4 col-12 pt-3">
                <div class="bl"></div>
                <div class="tape">
                  <ul>
                    <li><i class="fas fa-arrow-right"></i><a href="#">   Why Rotterdam?</a></li>
                    <li><i class="fas fa-arrow-right"></i><a href="#">   Port dues tariffs</a></li>
                    <li><i class="fas fa-arrow-right"></i><a href="#">   Setting up</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-4 col-12 pt-3">
                <div class="bl"></div>
                <div class="tape">
                  <ul>
                    <li><i class="fas fa-arrow-right"></i><a href="#">   Innovation</a></li>
                    <li><i class="fas fa-arrow-right"></i><a href="#">   Digitisation</a></li>
                    <li><i class="fas fa-arrow-right"></i><a href="#">   Energy transition</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!--Header text section ENDS-->

    <!--Grettings section STARTS-->
    <div class="container" id="greetings">
      <div class="col-lg-12">
        <p class="greetings-big"><strong>
          Ahoy there, nice to meet you! We manage, operate and support the continuous development of the largest port in Europe. Whether you are a skipper, a shipper/carrier looking to transport, store or transship cargo, or an entrepreneur thinking of basing your business here or if you just want to have fun, you have come to the right place at the port of Rotterdam!
        </strong></p>

        <p class="greetings-small">We are committed to increasing port efficiency and improving trade flows based on the strategic pillars of sustainability, digitisation and innovation. We want to create a 'cleaner and greener' port and contribute to a healthier living environment for everyone, both now and in the future. Needless to say, we never lose sight of our core task: keeping shipping running smoothly and safely.</p>
      </div>
    </div>
    <!--Grettings section ENDS-->

    <!--Annual figures section STARTS-->
    <div class="container-fluid" id="annual-figures">
      <div class="row">
        <div class="col-lg-4" id="annual">
          <div>
            <h2>ANNUAL FIGURES 2022</h2>
            <p>At 467.4 million tonnes, total throughput in Rotterdam was almost the same (-0.3%) as in 2021 (468.7 million tonnes) but the underlying figures show that there were major changes.</p>
            <button type="button" class="btn btn-main btn-lg">Read the full figure   <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
        <div class="col-lg-8">
          <iframe width="832" height="479" src="https://www.youtube.com/embed/yU-tVGUintQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!--Annual figures section ENDS-->

    <!--President european commission quote section STARTS-->
    <div class="container" id="quote">
      <div class="row">
        <div class="col-lg-12">
          <div class="quote-text">
            'If the port of Rotterdam is doing well, Europe's economy is doing well'
          </div>

          <div class="quote-person">
            <span><strong>URSULA VON DER LEYEN,</strong></span>
            <span class="quote-person-job">PRESIDENT EUROPEAN COMMISSION</span>
          </div>
        </div>
      </div>
    </div>

    <!--President european commission quote section ENDS-->

    <!--Discover the port section STARTS-->
    <div class="container-fluid" id="discover">
      <div class="row">
        <div class="col-lg-4 px-5" id="discover-port">
          <div>
            <h3>Discover the port</h3>
            <h3>FROM THE ROTTERDAM SKYLINE TO THE MAASVLAKTE: WELCOME ABOARD</h3>
          </div>
        </div>

        <div class="col-lg-4" id="img-text">
          <a href="#" target="_blank"><img src="{% static 'pictures/workingandlearning.jpg' %}" class="d-block w-100" alt="..."></a>
          <div class="container">
            <div class="newsText col-lg-6">
              <h3>Working and learning</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4" id="img-text">
          <a href="#" target="_blank"><img src="{% static 'pictures/FutureLand-Experience.jpg' %}" class="d-block w-100" alt="..."></a>
          <div class="container">
            <div class="newsText col-lg-6">
              <h3>To do in the port</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Discover the port section ENDS-->


    <!--Evolving section STARTS-->
    <div class="container-fluid" id="evolving">
      <div class="row">
        <div class="col-lg-4 px-5" id="evolvingPort">
          <div>
            <h2>OUR PORT IS EVOLVING ALL THE TIME</h2>
            <p>See, hear and read about all our activities.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-2 pe-0">
              <div class="feature-item">
                <div class="evolving-icon">
                  <i class="fas fa-sliders-h"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-10 ps-0 pe-4">
              <div class="feature-item">
                <div class="feature-text">
                  <a href="#">Smart port   <i class="fas fa-arrow-right"></i></a>
                  <p>Continously looking for ways to make the port smarter, more efficient and more sustainable</p>
                </div>
              </div>
            </div>

            <div class="col-lg-2 pe-0">
              <div class="feature-item">
                <div class="evolving-icon">
                  <i class="fas fa-lock"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-10 ps-0 pe-4">
              <div class="feature-item">
                <div class="feature-text">
                  <a href="#">Safe port   <i class="fas fa-arrow-right"></i></a>
                  <p>Safety is the number one priority in our port</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-2 pe-0">
              <div class="feature-item">
                <div class="evolving-icon">
                  <i class="fab fa-pagelines"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-10 ps-0 pe-4">
              <div class="feature-item">
                <div class="feature-text">
                  <a href="#">Sustainable port   <i class="fas fa-arrow-right"></i></a>
                  <p>We are committed to ensuring that the port and it's surrounding areas are safe, healthy and appealing</p>
                </div>
              </div>
            </div>

            <div class="col-lg-2 pe-0">
              <div class="feature-item">
                <div class="evolving-icon">
                  <i class="far fa-map"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-10 ps-0 pe-4">
              <div class="feature-item">
                <div class="feature-text">
                  <a href="#">Accessible port   <i class="fas fa-arrow-right"></i></a>
                  <p>The port authority and it's partners work together to ensure the port remains accessible</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Evolving section ENDS-->


    <!--Latest news section STARTS-->
    <div class="container-fluid mb-4">
      <div class="row">
        <div class="col-lg-4" id="img-text">
          <a href="#" target="_blank"><img src="{% static 'pictures/news0.jpeg' %}" class="d-block w-100" alt="..."></a>
          <div class="container">
            <div class="newsText col-lg-8">
              <p>3 / 3 / 2023</p>
              <h3>Rotterdam gets manufacturing industry for hydrogen</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4" id="img-text">
          <a href="#" target="_blank"><img src="{% static 'pictures/news1.jpeg' %}" class="d-block w-100" alt="..."></a>
          <div class="container">
            <div class="newsText col-lg-8">
              <p>3 / 3 / 2023</p>
              <h3>Marcor Stevedoring expands in Mississipihaven</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4" id="img-text">
          <a href="#" target="_blank"><img src="{% static 'pictures/news2.jpg' %}" class="d-block w-100" alt="..."></a>
          <div class="container">
            <div class="newsText col-lg-8">
              <p>3 / 3 / 2023</p>
              <h3>Impact of Russia's invasion of Ukraine on the port of Rotterdam</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mb-5">
      <div class="row">
        <div class="col-lg-4" id="img-text">
          <a href="#" target="_blank"><img src="{% static 'pictures/news3.jpg' %}" class="d-block w-100" alt="..."></a>
          <div class="container">
            <div class="newsText col-lg-8">
              <p>3 / 3 / 2023</p>
              <h3>Doing is the best way of thinking</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-8" id="img-text">
          <a href="#" target="_blank"><img src="{% static 'pictures/news4.jpeg' %}" class="d-block w-100" alt="..."></a>
          <div class="container">
            <div class="newsText col-lg-6">
              <p>3 / 3 / 2023</p>
              <h3>Port of Rotterdam throughput virtually unchanged in 2022 despite war and weakening economy</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Latest news section STARTS-->


    {% endblock %}