* {
    box-sizing: border-box;
}

.logo-img {
    display: block;
    background-size: 100% 100%;
    color: #001f4b;
    background-image: url("/static/pictures/por-logo.svg");
    height: 45px;
    width: 150px;
    background-repeat: no-repeat;
}

.footerLogo-img {
    display: block;
    background-size: 100% 100%;
    color: #fff;
    background-image: url("/static/pictures/por-logo-inverted.svg");
    height: 45px;
    width: 150px;
    background-repeat: no-repeat;
}

.top-bar {
    background-color: #001f4b;
    line-height: 1.75rem;
    min-height: 1.875rem;
    color: #fff;
    align-items: center;
    justify-content: end;
}

.top-bar-links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.top-bar-links ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-bottom: 0px;
}

.top-bar-links ul li {
    margin: 5px 12px;
}

.top-bar-links ul li a {
    text-decoration: none;
    color: #fff;
}

#myHomeVideo {
    opacity: 0.9;
    background-color: #222;
}

/* Small Devices Only */
@media (max-width: 768px) {
    .hero-1 {
        position: absolute;
        padding-top: 20%;
        color: white;
        font-weight: bolder;
        z-index: 1;
    }

    #header-tape {
        height: 100%;
        width: 100%;
        background-color: #001F4B;
    }
}

/* Large screen styles */
@media (min-width: 992px) {
    #header-text span {
        display: block;
        font-size: 16px;
        font-weight: 500;
        padding-left: 62px;
        position: relative;
        letter-spacing: 1px;
        margin-top: 80px;
    }

    .hero-1 {
        position: absolute;
        margin-top: -510px;
        color: white;
        font-weight: bolder;
        z-index: 1;
        margin-right: 0px;
    }

    #header-tape {
        height: 241px;
        margin-top: 20%;
        margin-left: 2%;
        width: 1100px;
        padding: 50px 45px 60px 45px;
        background-color: #001F4B;
    }

    #header-tape p {
        font-size: 1.5rem;
        line-height: 1.8125rem;
    }

    #greetings {
        margin-top: 20%;
        padding: 0px 300px;
    }

    .greetings-small {
        font-size: 1rem;
        line-height: 34px;
    }

    .greetings-big {
        font-size: 20px;
        line-height: 34px;
    }

    #quote {
        margin-left: auto;
        margin-right: auto;
        max-width: 630px;
        margin-bottom: 90px;
    }
}

#header-tape p {
    margin-bottom: 0;
}

.hero-info::before {
    border-top: 0.25rem solid #fff;
    margin-bottom: 2.1875rem;
    content: '';
    display: block;
    line-height: 1rem;
    font-size: 1rem;
}

.hero-info h1 {
    margin-bottom: 15px;
    font-size: 3.0625rem;
    line-height: 3.875rem;
    font-weight: 900;
    margin-top: 0;
}

#search-box {
    display: flex;
}

.search-container {
    padding: 20px 20px;
    background-color: #0693CA;
}

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus{
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search{
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    font-weight: bold;
}

.tape ul {
    padding-left: 0px;
    font-size: 1rem;
    line-height: 1.875rem;
    list-style: none;
}

.tape ul li {
    list-style-type: none;
    padding-bottom: 7px;
}

.tape ul li a {
    color: #fff;
}

#annual-figures {
    background-color: #F0F7FA;
    margin-bottom: 90px;
}

#annual {
    display: flex;
    justify-content: center;
    align-items: center;
}

#annual h2 {
    color: #001f4b;
    font-size: 1.75rem;
    line-height: 2.1875rem;
    font-weight: 700;
}

#annual p {
    font-size: 1rem;
    line-height: 34px;
    color: #222;
    font-weight: 400;
}

.btn-main {
    background-color: #001f4b;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.quote-text {
    font-size: 1.875rem;
    line-height: 2.375rem;
    padding: 2.1875rem 0;
    border-bottom: .25rem  solid #ffd800;
    border-top: .25rem  solid #ffd800;
    color: #222;
    font-weight: 400;
}

.quote-person {
    color: #222;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-top: 1.25rem;
}

.quote-person-job {
    color: #222;
    font-weight: 400;
}

#discover {
    margin-bottom: 90px;
}

#discover-port {
    display: flex;
    justify-content: center;
    align-items: center;
}

#discover-port h3:first-child {
    color: #0693ca;
    margin-bottom: 15px;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
}

#discover-port h3:nth-child(2) {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
    columns: #001f4b;
}

#contactImg-text {
    position: relative;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    margin-right: 12.5px;
}

#contactImg-text:nth-child(4) {
    margin-right: 0px;
}

#img-text {
    position: relative;
    color: #fff;
}

.textImg {
    position: absolute;
    top: 355px;
    left: 50px;
}

.newsText {
    position: absolute;
    top: 200px;
    left: 20px;
}

.textImg h3,
.contactText h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
}

#evolving {
    background-color: #F0F7FA;
    padding: 80px 12px;
    margin-bottom: 90px;
}

#evolvingPort {
    display: flex;
    justify-content: center;
    align-items: center;
}

#evolvingPort h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.1825rem;
    color: #001f4b;
}

#evolvingPort p {
    font-size: 1.25rem;
    line-height: 2.125rem;
    color: #001f4b;
}

.feature-text a {
    color: #001f4b;
    text-decoration: none;
    border-bottom: .125rem  solid #001f4b;
    font-size: 1.75rem;
    line-height: 2.625rem;
    font-weight: 700;
}

.feature-text p {
    margin-bottom: 30px;
    font-size: 1rem;
    line-height: 34px;
    color: #222;
}

.evolving-icon {
    font-size: 1.875rem;
    color: #0693ca;
}

.radio-form {
    display: flex;   
}

.footer-search {
    position: relative;
}

.footer-search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.footer-search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 126px;
    font-weight: bold;
}

#footer {
    background-color: #0693CA;
    color: #fff;
}

#footer-content {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#footer-content::after {
    left: -2.1875rem;
    width: 20%;
    height: 46%;
}

#footer-content::after {
    background-color: #001f4b;
    bottom: 0;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    transform: skewY(57deg);
    transform-origin: 0 0;
    z-index: -1;
}

#footer-pic {
    background-color: #0693ca;
    background-image: url("/static/pictures/footer.jpg");
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#footer-pic::before,
#footer-pic::after {
    background-color: #0693ca;
    content: '';
    display: block;
    height: 100%;
    left: -0.0625rem;
    position: absolute;
    right: 0;
    z-index: -1;
}

#footer-pic::after {
    bottom: -4.4375rem;
    transform: skewY(69deg);
    transform-origin: 0 0;
}

#footer-pic::before {
    top: -9.5625rem;
    transform: skewY(127deg);
    transform-origin: 0 0;
}

#footer-links {
    background-color: #001F4B;
    margin: 0;
}

#footer-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-links-list {
    column-count: 2;
}

.footer-links-list li {
    display: block;
    overflow: hidden;
    position: relative;
    padding-right: 3.125rem;
    page-break-inside: avoid;
}

.footer-links-list li a {
    color: #fff;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5625rem;
    cursor: pointer;
    display: block;
    text-decoration: none;
    background-color: transparent;
}

.contact-data,
.social-data  {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5625rem;
}

.footer-links-main li {
    line-height: 1.5625rem;
    font-size: 1rem;
    font-weight: 400;
}

#contact-content a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    font-size: .875rem;
    line-height: 1.5625rem;
}


/* Breadcrumbs styling STARTS */

#breadcrumb-con {
    background-color: #F0F7FA;
    font-size: .875rem;
    line-height: 1.5rem;
    padding: 0.5rem 0;
    padding-left: 10px;
}

#breadcrumb-con li {
    display: flex;
    align-items: center;
    color: #0693CA;
}

#breadcrumb-con ol {
    margin-bottom: 0
}

#breadcrumb-con a {
    text-decoration: none;
    color: #0693ca;
}

/* Breadcrumbs styling ENDS */


/* Contact page styling STARTS */

#contact-page h1 {
    margin: 0 auto 1.875rem;
    padding: 2.1875rem 0.9375rem 0;
    font-size: 3.375rem;
    line-height: 4.21875rem;
    font-weight: 900;
}

.contactText {
    position: absolute;
    top: 100px;
    left: 20px;
}

.contactPage-links {
    display: flex;
    flex-wrap: wrap;
}

.contactPage-links a {
    color: #fff;
}


/* Contact page styling ENDS */

.imgText-con::after {
    content: '';
    background: linear-gradient(360deg, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0) 100%);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.col-lg-xs {
    flex: 0 0 auto;
    width: 24.0%;
}

#location-container {
    display: flex;
    justify-content: center;
    padding-right: 0;
    margin-bottom: 90px;
}

.contactPage-links ul {
    list-style-type: none;
    padding-left: 0rem;
}

.contactPage-links ul li {
    margin-bottom: 5%;
}

#faq {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: #F0F7FA;
}

#faq-links {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#faq-links ul {
    list-style-type: none;
}

#faq-links ul li:not(:last-child) {
    margin-bottom: 2.5rem;
    list-style: none;
}

#faq-links ul li a {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #001F4B;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-decoration: underline;
    font-weight: 400;
}
