* {
    box-sizing: border-box;
}

.top-bar {
    background-color: #001f4b;
    line-height: 1.75rem;
    min-height: 1.875rem;
    color: #fff;
    align-items: center;
    justify-content: end;
}

.top-bar-links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.top-bar-links ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-bottom: 0px;
}

.top-bar-links ul li {
    margin: 5px 12px;
}

.top-bar-links ul li a {
    text-decoration: none;
    color: #fff;
}

/* Small Devices Only */
@media (max-width: 768px) {
    .hero-1 {
        position: absolute;
        padding-top: 20%;
        color: white;
        font-weight: bolder;
        z-index: 1;
    }

    #header-tape {
        height: 100%;
        width: 100%;
        background-color: rgb(36, 40, 52);
    }
}

/* Large screen styles */
@media (min-width: 992px) {
    #header-text span {
        display: block;
        font-size: 16px;
        font-weight: 500;
        padding-left: 62px;
        position: relative;
        letter-spacing: 1px;
        margin-top: 80px;
    }

    .hero-1 {
        position: absolute;
        margin-top: -620px;
        color: white;
        font-weight: bolder;
        z-index: 1;
        margin-right: 0px;
    }

    #header-tape {
        height: 145px;
        width: 1077px;
        background-color: rgb(36, 40, 52);
    }
}

#header-tape p {
    margin-bottom: 0;
}

#header-tape p,
#header-tape span {
    font-size: 18px;
}

.hero-info::before {
    border-top: 0.25rem solid #fff;
    margin-bottom: 2.1875rem;
    content: '';
    display: block;
    line-height: 1rem;
    font-size: 1rem;
}

.hero-info h1 {
    margin-bottom: 15px;
    font-size: 3.0625rem;
    line-height: 3.875rem;
    font-weight: 900;
    margin-top: 0;
}