* {
    box-sizing: border-box;
}

.top-bar {
    background-color: #001f4b;
    line-height: 1.75rem;
    min-height: 1.875rem;
    color: #fff;
    align-items: center;
    justify-content: end;
}

.top-bar-links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.top-bar-links ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-bottom: 0px;
}

.top-bar-links ul li {
    margin: 5px 12px;
}

.top-bar-links ul li a {
    text-decoration: none;
    color: #fff;
}